body {
    text-align: center;
    background-color: #2f4050;
}

form {
    display: inline-block;
}

.fieldset1 {
    color: #efefef;
    border: 1px solid #bfbbbb;
    display: inline-block;
    min-width: min-content;
    max-width: max-content;
    min-height: min-content;
    max-height: max-content;
    text-align: center;
    padding: 15px 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}

label {
    display: inline-block;
    margin-top: 5px;
    color: #bfbbbb;
}

input {
    margin-bottom: 5px;
    background-color: #40596f;
    border: 1px solid #40596f;
    color: #efefef;
}

.styled {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* .subButton {
    margin: 10px 0px;
    background-color: #40596f;
    border: 1px solid #bfbbbb;
    color: #bfbbbb;
    width: 100px;
} */

.subButton {
    margin: 10px 0px;
    width: 200px;
}

.box {
    position: relative;
    text-align: center;
}

.subButton:hover,
.leftText:hover,
.rightText:hover {
    color: red;
    image-rendering: pixelated;
    box-shadow: 0px 0px 20px red;
}

.leftText {
    position: absolute;
    top: 43%;
    left: 33%;
    font-weight: bold;
    text-shadow: 0px 0px 10px black;
}

.rightText {
    position: absolute;
    top: 43%;
    right: 34%;
    font-weight: bold;
    text-shadow: 0px 0px 10px black;
}

h1 {
    color: white;
}

.img1 {
    max-width: 80%;
    border: 5px solid white;
}

.hiddenLink {
    
}